@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: whitesmoke;
    overflow: hidden; /* Hide scrollbars */
}

section{
    height: 100vh;
    scroll-snap-align: start;
}

.contain {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

.one {
    /*background: mediumspringgreen;*/
    position: relative;
}

#name {
    color: #303437;
    font-weight: bold;
    margin-left: .1em;
    font-size: 7em;
    margin-bottom: 0;
    position: absolute;
    top: 45%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#githubButton {
    background: mediumpurple;
    font-size: 1em;
    position: absolute;
    padding: 6px;
    margin-top: 2em;
    border-radius: 8px;
    border: none;
    top: 55%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.two {
    /*background: coral;*/
    position: relative;


}

.three {
    /*background: lightpink;*/
    position: relative;

}

.four {
    /*background: deepskyblue;*/
    position: relative;

}

.five {
    position: relative
}

.smallBold {
    font-weight: bold;
    font-size: 1.3em;
    color: #FF7F50;
    -ms-transform: translateY(280%);
    transform: translateY(280%);
    /*margin-top: 3em;*/
}

.bigBold {
    font-weight: bold;
    font-size: 4em;
    margin-top: 1.3em;
    z-index: 2;
}

.textContainer {
    width: 30em;
}

p {
    font-size: 1.1em;
    color: #949393;
    width: 28em;
}

#contactInfo {
    list-style-type: none;
    font-size: 2em;
}

