@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section{
    height: 100vh;
    scroll-snap-align: start;
}

.contain {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

.one {
    /*background: mediumspringgreen;*/
    position: relative;
}

#name {
    color: #303437;
    font-weight: bold;
    margin-left: .3em;
    font-size: 8em;
    margin-bottom: 0;
    position: absolute;
    top: 45%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#githubButton {
    background: mediumpurple;
    font-size: 1em;
    position: absolute;
    padding: 6px;
    margin-top: 2em;
    border-radius: 8px;
    border: none;
    top: 55%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.two {
    /*background: coral;*/
}

.three {
    /*background: lightpink;*/
}

.four {
    /*background: deepskyblue;*/
}
